/* The Modal (background) */
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  justify-content: center;
  align-items: center;
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d86;
  overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  max-width: 450px;
  max-height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
  position: relative;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: var(--font-size-L);
  margin: 0;
  margin-bottom: 6px;
}

.subtitle {
  font-size: var(--font-size-M);
  padding: 0;
  margin: 0;
  color: var(--color-4);
  opacity: 0.8;
  font-weight: 400;
}

.close {
  z-index: 3;
  position: absolute;
  right: 16px;
  margin-right: 16px;
  top: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #8a8a8a;
}

.fixedClose {
  position: fixed;
}

.close:hover {
  color: black;
}

.arrow {
  z-index: 3;
  position: absolute;
  left: 16px;
  top: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #8a8a8a;
}

.arrow:hover {
  color: black;
}

.iconClose {
  font-size: var(--font-size-L);
}

.buttonsContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.divider {
  font-size: var(--font-size-M);
  font-weight: 800;
  color: var(--color-3);
  margin-left: 12px;
  margin-right: 12px;
}

.acceptTerms {
  text-align: center;
  font-size: var(--font-size-XS);
  padding: 0;
  margin: 0;
  color: var(--color-4);
  opacity: 0.6;
  font-weight: 400;
  margin-top: 20px;
}
